{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": ["react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "classes": true,
      "impliedStrict": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "max-len": "warn",
    "no-nested-ternary": "warn",
    "no-underscore-dangle": "warn",
    "no-mixed-spaces-and-tabs": "error",
    "padded-blocks": 0,
    "import/prefer-default-export": 0,
    "react/destructuring-assignment": "warn",
    "react/no-array-index-key": "warn",
    "react/prop-types": "warn",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
