@import "../../assets/sass/global.sass";

.About
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 1.1rem
  justify-content: space-around
  line-height: 2rem
  letter-spacing: 1.4px
  &__Content
    padding: 1rem
    &__Logo
      display: block
      margin: 1rem auto
      width: 100px
    &__Item
      margin-top: 4rem
      &__Title
        margin-bottom: 1rem
  &__ModalCloseButton
    background: transparent
    border: 0
    font-size: 2rem
    cursor: pointer
    outline: 0
    position: absolute
    top: 4px
    right: 10px
