@import "../../assets/sass/global.sass";


.Chat
  height: 100vh
  width: 100%
  color: $color-lighter
  display: flex
  align-items: center
  flex-direction: column-reverse
  +respond(tablet)
    flex-direction: row
    align-items: center
    height: 100vh
  &__Izquierda
    width: 100%
    height: 100%
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    +respond(tablet)
      width: 50%
      height: 100vh
    &__Logo
      width: 33vw
      +respond(tablet)
        width: 300px
        position: relative
        left: 8px
        top: -40px

  &__Derecha
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    +respond(tablet)
      width: 50%
      &__ServerDown
        width: 200px
        color: $color-red
        &__ErrorFeedback
          padding-top: 2rem
          font-size: 1.4rem
          line-height: 2rem
          display: block
          text-align: center
          font-weight: bolder

  &__CharlaTerminada
    width: 176px
    height: 100px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding-top: 0.5rem
    &__AlbertoCalienteFeedback
      height: 40px
      text-align: center
      &__Icon
        width: 20px
        vertical-align: middle
        position: relative
        top: -1px
      &__Text
        color: $color-light
        font-weight: bolder
        font-size: 12px
